@{
    ViewData["Title"] = "Collections";
}

<section class="page-section">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">Game Collections</h1>
            <p class="page-subtitle">Curated lists of games</p>
        </div>

        <ul>
            <li>Minecraft</li>
            <li>Red Dead Redemption 2</li>
            <li>Persona 3 Reload</li>
            <li>The Isle</li>
            <li>Subnautica</li>
            <li>Factorio</li>
        </ul>

    </div>
</section>
