@{
    ViewData["Title"] = "Collections";
}

<section class="page-section">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">Game Collections</h1>
            <p class="page-subtitle">Curated lists of games</p>
        </div>

        <!-- for ella, implement collections feature here -->
        <!-- i guess just organize existing reviews written into collections, no need-->
        <!-- to mess with database-->
    </div>
</section>
